@import "variables";
@import "mixin";
.navigation {
    background-color: $color_dark;
    
    .navigation__logo,
    .navigation__item {
        color:$color_light;
    }

    .navigation__ {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 0rem;
       


        .navigation__logo {
            font-size: 2rem;
        }
        .navigation__item {
            padding: 2rem;
            text-decoration: none;
            @include p;
        }

        .navigation__item:hover {
            border-bottom: 1px solid $color_light;
        }
    }
}
