@import "variables";
@import "mixin";
.stats {
    padding-top: 100px;

    .stats__colum {
        @include flex_wrap;
        padding: 3rem;
    }
    .stats_fa,
    .stats__colum__h4 {
        color: $color_full_dark;
    }

    .stats_fa {
        font-size: 3rem;
        padding: 1rem;
    }

    .stats__colum__p {
        @include p_large;
        color: $font_fdark;
        padding-top: 1.5rem;
    }

    .stats__colum__h4 {
        font-size: 2.2rem;
        font-weight: 400;
    }
}
